nav{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1C398B;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 2;
}
.topHeader{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  padding: 35px 0;
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
}
.uselessVoid{
  width: 35px;
}
header .row{
  position: relative;
}
.hamburger{
  padding: 0;
}
nav ul{
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
}
.hamburger-box{
  width: 32px;
  height: 20px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  width: 32px;
  height: 2px;
  background-color: #1C398B;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
  background-color: #fff;
}
.mainScr{
  padding: 140px 0;
  text-align: center;
  position: relative;
  color: #1C398B;
}
.pageLabel{
  position: absolute;
  left: 75%;
  bottom: 0;
  color: #fff;
  max-width: 270px;
  width: 100%;
  padding: 55px;
  background-image: url('../img/label.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;
}
.pagePreheader, .pageSubheader{
  font-size: 20px;
  font-weight: 300;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.pageHeader{
  max-width: 630px;
  margin: 20px auto;
  font-size: 58px;
}
.btn.primaryButton{
  background-color: transparent;
  color: #1C398B;
  border: 2px solid #1C398B;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.btn.primaryButton:hover{
  background-color: transparent;
  color: #2144A6;
  border: 2px solid #2144A6;
}
.pageLabel p{
  font-size: 20px;
  font-weight: 600;
}
.pageLabel span{
  font-size: 73px;
  font-weight: 700;
  line-height: 1;
}
p.pageLabel__object{
  font-size: 13px;
  font-weight: 400;
}
header{
  background-image: url('../img/mainScr.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-position: 0 0;
}
nav ul li a{
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
nav ul li{
  margin-bottom: 10px;
}

@media(max-width: 1199px){
  header{
    background: none;
  }
  .topHeader{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  header .row{
    position: static;
  }
}
@media(max-width: 991px){
  .pageLabel{
    left: 65%;
    bottom: 20px;
    padding: 30px;
    max-width: 215px;
  }
  .pageLabel p{
    font-size: 16px;
    line-height: 1.2;
  }
  .pageLabel span{
    font-size: 55px;
  }
  .topHeader{
    max-width: 720px;
  }
}
@media(max-width: 767px){
  .topHeader{
    max-width: 540px;
  }
  .pageHeader{
    font-size: 45px;
  }
  nav ul li a{
    font-size: 20px;
  }
  .pageLabel{
    background: none;
    background-color: #D82E67;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: static;
    width: 280px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .pageLabel__text{
    width: auto;
  }
  .pageLabel__object{
    width: 150px;
  }
  .pageLabel__object{
    font-size: 13px;
    padding-left: 10px;
  }
  .pageLabel span{
    font-size: 40px;
  }
  .pageLabel p{
    font-size: 13px;
  }
  .pageLabel__text p{
    font-size: 16px;
  }
  .pageLabel{
    padding: 20px;
  }
  .mainScr{
    padding: 100px 0;
  }
  .topHeader{
    top: 0;
  }
}
@media(max-width: 575px){
  .topHeader{
    max-width: 320px;
  }
  .pagePreheader, .pageSubheader{
    font-size: 16px;
  }
  .pageHeader{
    font-size: 26px;
  }
  .mainScr{
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .btn.primaryButton{
    order:5;
    width: 100%;
  }
  .pageLabel{
    width: 100%;
    padding: 30px;
  }
  .pageLabel__object{
    flex-grow: 1;
  }
}
